<%- include('../layouts/head') %>  
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
  <%- include('../layouts/navigation.ejs')%>
    <main>
    <% if(title.length > 0) { %>
        <% for(let product of title){ %>
            <div class="card">
                <div class="header">
                    <p><%= product.title %></p>
                </div>
                <div class="main">
                    <img src="<%= product.link %>" alt="some image">
                </div>
                <div class="footer">
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                <div>
                    <a href="/product/<%= product.id %>"> <button class="button">Details</button> </a> 
                    <form action="/add-to-cart" method="POST">
                        <button class="button">Add to Cart</button>
                    </form>
                </div>
            </div>
        <% } %>    
    <% } else { %>
        <p> No Products yet</p>
    <% } %>    
    </main>
</body>
</html>