<%- include('../layouts/head') %>  
<link rel="stylesheet" href="/css/details.css">
</head>
<body>
<%- include('../layouts/navigation.ejs')%>

          <h1><%= data.title %></h1> 
          <hr>
          <img src=" <%= data.link %>">
          <p><%= data.description %></p>

</body>
</html>