<%- include('../layouts/head') %>  
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>
  <%- include('../layouts/navigation.ejs')%>
    <main>
    <% if(title.length > 0) { %>
        <% for(let product of title){ %>
        <div class="main">
            <div class="card">
                <div class="headerCard">
                    <p><%= product.title %></p>
                </div>
                <div class="mainCard">
                    <img src="<%= product.link %>" alt="some image">
                </div>
                <div class="footerCard">
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                <div>
                    <a href="/product/<%= product.id %>"> <button class="button">Details</button> </a> 
                    <%- include('../layouts/add-to-cart.ejs')%>
                </div>
            </div>
        </div>  
        <% } %>    
    <% } else { %>
        <p> No Products yet</p>
    <% } %>    
    </main>
</body>
</html>